.title{
    text-align: center;
    font-size: 65px; 
    
}

.title2{
text-align: center;
    font-size: 38px;
    font-family: 'Times New Roman'; 
    color:rgb(254, 192, 110);
    
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(67, 67, 67);
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;

}

.cat{
    width: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;

}

.mouse{
    width: 380px;
    border: none;
    height: 200px;
    font-size: 21px;
    padding-left: 5px;
    padding-bottom: 80px;
}

.b{
    width: 320px;
    border-radius: 11px;
}
a{
    color: rgb(145, 198, 220);    
}

.you{
    text-align: center;
}





.down{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
     background-color: rgb(25, 142, 25);
     text-align: center;
}
